* {
    text-align: justify;
    line-height: 25px;
    box-sizing: border-box;
}

h2 {
    display: flex;
    align-self: center !important;
    padding: 2%;
}

.reading-status {
    position: sticky;
    top: 0;
    width: 100%;
    height: 5vh;
    background: rgb(126, 126, 126);
    border: 2px black solid;

    .complete {
        height: 100%;
        background: red;
        transition: width 1s;
    }
}