$primary: rgb(255, 255, 255);
$secondary: rgb(184, 184, 184);
$tertiary: rgb(72, 72, 72);

.homepage-story {
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    border-bottom-right-radius: 225px;
    background-image: linear-gradient(to right bottom, #212121, #222222, #222222, #232323, #242424, #262626, #292929, #2b2b2b, #2f2f2f, #343434, #383838, #3d3d3d);

    h2 {
      color: $primary;
    }

    &-list {
      width: 100%;
      min-height: 15vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      .homepage-story-item {
        width: 10vw;
        height: 35vh;
        background: cyan;
        margin: 0.5%;
        border-radius: 5px;
        overflow: hidden;
      }
    }
  }