$navSize: 5vh;

nav {
    position: fixed;
    width: 100%;
    min-height: $navSize;
    background: #2c2c2c;
    display: flex;
    justify-content: space-between;
    z-index: 50;

    .left-container {
        min-width: 15vw;
        padding: 1%;
        min-height: 1vh;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .right-container {
        min-width: 15vw;
        padding: 1%;
        min-height: 1vh;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

.ghost-nav {
    position: relative;
    width: 100%;
    min-height: $navSize;
    background: green;
    z-index: -1;
}