@mixin shadow() {
  box-shadow: 4px 4px 5px 5px rgba(0,0,0,0.68);
}

* {
  border-color: rgb(85, 85, 85) !important;
}

::selection {
  color: rgb(104, 104, 104);
  font-weight: bold;
  background: rgb(56, 56, 56);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vh;
  overflow-y: scroll;
}

#root {
  width: 100%;
  position: absolute;
}

.test {
  background: red;
}

a {
  color: white !important;
  font-weight: bold;
  text-transform: uppercase;
  word-spacing: 2px;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;

  &:hover {
      opacity: 1;
  }
}
